<div class="main-container">
  <div class="row">

    <div class="cards">
      <h1><%= current_user.name %>Pokémon Trainer</h1>
      <p>Age: <%= current_user.age %></p>
      <p>Sex: <%= current_user.sex %></p>
    </div>

    <div class="cards">
      <%= link_to "Create Pokémon Team", new_team_path, class: "btn btn-primary btn-lg" %>
    </div>

  </div>
</div>


